# Database URL for PostgreSQL
DATABASE_URL=

# https://platform.deepseek.com/usage
DEEPSEEK_API_KEY=

# https://platform.xiaomimimo.com/console/plan-manage
MIMO_API_KEY=
MIMO_OPENAI_API_URL=

# OPENAI_API_KEY
# OPENAI_BASE_URL
